# Require Python 3.12.10

numpy==1.26.4
scipy==1.17.1
pmdarima==2.1.1
psycopg2-binary==2.9.11
selenium==4.41.0
beautifulsoup4==4.14.3
requests==2.32.5
python-dotenv==1.2.2
pandas==2.3.3
nbformat==5.10.4
matplotlib==3.10.8
statsmodels==0.14.6
tqdm==4.67.3
sktime==0.40.1
seaborn==0.13.2
xgboost==2.1.1
shap==0.46.0
wandb==0.25.1
ipynbname==2025.8.0.0
openpyxl==3.1.5
lightning==2.6.1
tsfresh==0.21.1
setuptools==81.0.0
tensorboard==2.20.0
TA-Lib==0.6.8
plyer==2.1.0

# Deep learning (GPU-enabled PyTorch)
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0